.navbar{
    background: #1C2331;
    min-height: 80px;
    padding-top: 22px;
    font-size: medium;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a{
    color: #eee;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    font-size: larger;
    
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
     font-size: larger;
    background-color: #2d7788;
    
}


#profileSection {
   padding-top:145px;
    height:450px;
    color: #fff; 
    background-color: #2d7788;
    padding-left:20%;
    padding-right: 10%;
}

#skillsSection{
    padding-top:65px;
     height:400px;
      background-color: 42A8C0;
      color: #006064;
}

 #experienceSection {
     padding-top:65px;
    padding-left: 50px;
    height:900px;
    color: #fff; 
    background-color: #2d7788;
    align-content: center;
    
}
 #educationSection {
     padding-top:65px;
      height:350px;
      background-color: white;
      color: #006064;
    
}
#projectSection {
/*
      max-height:2000px;
*/
    padding-top:65px;
    height:750px;
      color: #fff; 
    background-color: #2d7788;
    align-content: center;
}
#conactMeSection {
    padding-top:50px;
    height:200px;
      background-color: #1C2331;
      color: #eee;
    text-align: left;
}
h2{
    text-align: center;
}

p {
    text-indent: 50px;
}
/* Verdana, Geneva, sans-serif*/
body {
  font-family: 'Verdana', 'Geneva', sans-serif;
  background: #f5f5f5;
}

.px-2 {
  padding-left: 12% ;
}

.myLabel {
    background-color: #006064;
}

.hackerrank-icon{
    background-image: url(../imgs/hackericon.jpg);
}

.fa-linkedin,.fa-github,.fa-code {
    color: white;
}


.timeline {
    list-style: none;
    padding: 0 0 20px;
    position: relative;
    margin-top: 3px;
    line-height: 25px;
}
.timeline:before {
    top: 21px;
    bottom: 25px;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #eee;
    left: 9px;
    margin-right: -1.5px
}
.fa-circle:before {
    content: "\f111";
    color: #eee;
}
.timeline>li,
.timeline>li>.timeline-panel {
    margin-bottom: 5px;
/*
    position: relative
*/
}
.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}
.timeline>li:after {
    clear: both
}
.timeline>li>.timeline-panel {
    margin-left: 30px;
    float: left;
    top: 19px;
    padding: 4px 10px 8px 15px;
   /* border: 1px solid #ccc;*/
    border-radius: 5px;
        width: 100%;

}
.timeline>li>.timeline-icon {
    color: #fff;
    width: 27px;
    height: 27px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 9px;
    margin-right: -25px;
    background-color: #fff;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #d4d4d4
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: left
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    border-right-width: 0;
    border-left-width: 15px;
    right: -15px;
    left: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    border-right-width: 0;
    border-left-width: 14px;
    right: -14px;
    left: auto
}
.timeline-title {
    margin-top: 0;
    color: inherit
}
.timeline-body>p,
.timeline-body>ul {
    font-family: 'Verdana', 'Geneva', sans-serif;
    margin-bottom: 0;
    margin-top: 0
}
.timeline-body {
    font-family: 'Verdana', 'Geneva', sans-serif;
}
.timeline-body>p+p {
    margin-top: 5px
}
.timeline-icon>.glyphicon {
    margin-right: 0px;
    color: #fff
}
.timeline-body>h4 {
    margin-bottom: 0!important
}

.timeline-title{
    position: absolute;
                left: -27%;
                padding-left: 0px;
}